@page "/"

<PageTitle>AI Proxy Admin</PageTitle>

<MudStack>
    <Help Title="Welcome" Link="https://microsoft.github.io/azure-openai-service-proxy" />
    <MudText Typo="Typo.body1">Manage your events and resources for the Azure AI Proxy using the options on the menu.</MudText>

    <MudText Typo="Typo.h5">Resources</MudText>
    <MudList Dense="true" DisableGutters="true">
        <MudListItem Icon="@Icons.Material.Outlined.Book">
            <a href="https://aka.ms/ai-proxy-docs" target="_blank" style="color: blue; text-decoration: underline;">Documentation</a>
        </MudListItem>
        <MudListItem Icon="@Icons.Material.Outlined.ReportProblem">
            <a href="https://github.com/microsoft/azure-openai-service-proxy/issues" target="_blank" style="color: blue; text-decoration: underline;">Raise an issue</a>
        </MudListItem>
        <MudListItem Icon="@Icons.Material.Outlined.Feedback">
            <a href="https://github.com/microsoft/azure-openai-service-proxy/discussions" target="_blank" style="color: blue; text-decoration: underline;">Questions or feedback</a>
        </MudListItem>
        <MudListItem Icon="@Icons.Custom.Brands.GitHub">
            <a href="https://github.com/microsoft/azure-openai-service-proxy/" target="_blank" style="color: blue; text-decoration: underline;">Contributions welcome!</a>
        </MudListItem>
    </MudList>

    <MudText Typo="Typo.h5">Getting started</MudText>
    <MudList Dense="true" DisableGutters="true">
        <MudListItem Icon="@Icons.Material.Outlined.Cloud"><strong>Step 1:</strong> Deploy Azure AI resources including models and AI Search indexes.
        </MudListItem>
        <MudListItem Icon="@Icons.Material.Outlined.AccountBalance"><strong>Step 2:</strong> Map Azure AI resources to AI Proxy resources.</MudListItem>
        <MudListItem Icon="@Icons.Material.Outlined.Event"><strong>Step 3:</strong> Create an AI Proxy event.</MudListItem>
        <MudListItem Icon="@Icons.Material.Outlined.People"><strong>Step 4:</strong> Promote the event attendee link.</MudListItem>
    </MudList>

    <MudText Typo="Typo.h5">Getting started guide</MudText>
    <MudText Typo="Typo.body1">Check out this 5-minute introduction video.</MudText>
    <MudPaper Elevation="1" Padding="16px" Width="560px" Height="315px">
        <iframe src="https://www.youtube.com/embed/x9N1qivjlfw?si=n18L8F5X5p5YXHYu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </MudPaper>

</MudStack>
