@page "/events"
@namespace AzureOpenAIProxy.Management.Components.Pages

<MudStack>
    <h3>Events</h3>

    <MudButton Variant="Variant.Filled" Color="Color.Primary" Href="/events/new">New Event</MudButton>

    <MudTable Items="@Events" Loading="@(Events is null)" LoadingProgressColor="Color.Info" Hover="true"
        Breakpoint="Breakpoint.Sm">
        <HeaderContent>
            <MudTh>Event</MudTh>
            <MudTh>Organiser</MudTh>
            <MudTh>Duration</MudTh>
            <MudTh>Active</MudTh>
            <MudTh></MudTh>
            <MudTh></MudTh>
            <MudTh></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Event">@context.EventCode</MudTd>
            <MudTd DataLabel="OrganiserName">@context.OrganizerName<br />@context.OrganizerEmail</MudTd>
            <MudTd DataLabel="Duration">@context.StartTimestamp.ToString("dd/MM/yyyy HH:mm") -
                @context.EndTimestamp.ToString("dd/MM/yyyy HH:mm")<br />
                @{
                    var timeZoneInfo = TimeZoneInfo.FindSystemTimeZoneById(@context.TimeZoneLabel);
                    var displayName = timeZoneInfo.DisplayName;
                }
                @displayName
            </MudTd>
            <MudTd DataLabel="Active">@(context.Active ? "Yes" : "No")</MudTd>
            <MudTd>
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Href="@($"/event/{context.EventId}")">Edit
                </MudButton>
            </MudTd>
            <MudTd>
                <MudButton Variant="Variant.Filled" Color="Color.Secondary" Target="_blank"
                    Href="@($"{Configuration["PlaygroundUrl"]}/event/{context.EventId}")">Attendee</MudButton>
            </MudTd>
            <MudTd>
                <MudButton Variant="Variant.Filled" Color="Color.Secondary"
                    Href="@($"/event/{context.EventId}/metrics")">Metrics</MudButton>
            </MudTd>
        </RowTemplate>
    </MudTable>

</MudStack>
