@page "/event/{eventId}/metrics"
@using AzureOpenAIProxy.Management.Database

@namespace AzureOpenAIProxy.Management.Components.Pages

@if (Event is not null && EventMetric is not null)
{
    <MudStack>
        <h3>Event Name: @Event.EventCode</h3>

        <MudText Typo="Typo.body1">Attendee count: <strong>@EventMetric.AttendeeCount</strong></MudText>
        <MudText Typo="Typo.body1">Total Request count: <strong>@EventMetric.RequestCount</strong></MudText>

        <MudTable Items="@EventMetric.ModelCounts" SortLabel="Sort By" Hover="true">
            <HeaderContent>
                <MudTh>
                    <MudTableSortLabel
                        SortBy="new Func<(string resource, int count, long prompt_tokens, long completion_tokens, long total_tokens), object>(x => x.resource)">
                        Resource Name (Deployment or Index Name)</MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel
                        SortBy="new Func<(string resource, int count, long prompt_tokens, long completion_tokens, long total_tokens), object>(x => x.prompt_tokens)">
                        Prompt tokens</MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel
                        SortBy="new Func<(string resource, int count, long prompt_tokens, long completion_tokens, long total_tokens), object>(x => x.completion_tokens)">
                        Completion tokens</MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel
                        SortBy="new Func<(string resource, int count, long prompt_tokens, long completion_tokens, long total_tokens), object>(x => x.total_tokens)">
                        Total tokens</MudTableSortLabel>
                </MudTh>
                                <MudTh>
                    <MudTableSortLabel InitialDirection="SortDirection.Descending"
                        SortBy="new Func<(string resource, int count, long prompt_tokens, long completion_tokens, long total_tokens), object>(x => x.count)">
                        Requests</MudTableSortLabel>
                </MudTh>
            </HeaderContent>

            <RowTemplate>
                <MudTd DataLabel="Resource Name (Deployment or Index Name)">@context.resource</MudTd>
                <MudTd DataLabel="Prompt tokens">@context.prompt_tokens</MudTd>
                <MudTd DataLabel="Completion tokens">@context.completion_tokens</MudTd>
                <MudTd DataLabel="Total tokens">@context.total_tokens</MudTd>
                <MudTd DataLabel="Request Count">@context.count</MudTd>
            </RowTemplate>
        </MudTable>
    </MudStack>
}
