@page "/event/{eventId}/metrics"
@using AzureOpenAIProxy.Management.Database
@using AzureOpenAIProxy.Management.Services;

@namespace AzureOpenAIProxy.Management.Components.Pages


@if (Event is not null && EventMetric is not null)
{

    @code {

        private int Index = -1; //default value cannot be 0 -> first selectedindex is 0.
        public ChartOptions Options = new ChartOptions();

        public List<ChartSeries> Series = new List<ChartSeries>()
        {
            new ChartSeries() { Name = "Requests", Data = new double[] { 90, 79, 72, 69, 62, 62, 55, 65, 70 } },
        };
        public string[] XAxisLabels = {"Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep" };


    }


    <MudStack>
    <h3>Event Name: @Event.EventCode</h3>

    <MudText Typo="Typo.body1">Attendee count: <strong>@EventMetric.AttendeeCount</strong></MudText>
    <MudText Typo="Typo.body1">Total Request count: <strong>@EventMetric.RequestCount</strong></MudText>

    <MudTable Items="@EventMetric.ModelData.ModelCounts" SortLabel="Sort By" Hover="true">
        <HeaderContent>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<ModelCounts, object>(x => x.Resource)">
                    Resource Name (Deployment or Index Name)</MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<ModelCounts, object>(x => x.PromptTokens)">
                    Prompt tokens</MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<ModelCounts, object>(x => x.CompletionTokens)">
                    Completion tokens</MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<ModelCounts, object>(x => x.TotalTokens)">
                    Total tokens</MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudTableSortLabel InitialDirection="SortDirection.Descending"
                    SortBy="new Func<ModelCounts, object>(x => x.Count)">
                    Requests</MudTableSortLabel>
            </MudTh>
        </HeaderContent>

        <RowTemplate>
            <MudTd DataLabel="Resource Name (Deployment or Index Name)">@context.Resource</MudTd>
            <MudTd DataLabel="Prompt tokens">@context.PromptTokens</MudTd>
            <MudTd DataLabel="Completion tokens">@context.CompletionTokens</MudTd>
            <MudTd DataLabel="Total tokens">@context.TotalTokens</MudTd>
            <MudTd DataLabel="Request Count">@context.Count</MudTd>
        </RowTemplate>
    </MudTable>

    Hello world

    <div>
        <MudChart ChartType="ChartType.Line" ChartSeries="@Series" @bind-SelectedIndex="Index" XAxisLabels="@XAxisLabels" Width="100%" Height="350px" ChartOptions="@Options"/>
        <MudGrid>
            <MudItem xs="6">
                <MudText Typo="Typo.body1" Class="py-3">Selected: @(Index < 0 ? "None" : Series[Index].Name)</MudText>
            </MudItem>
            <MudItem xs="6">
                <MudSlider @bind-Value="Options.LineStrokeWidth" Min="1" Max="10" Color="Color.Info">Line Width: @Options.LineStrokeWidth.ToString()</MudSlider>
            </MudItem>
        </MudGrid>
    </div>


    </MudStack>

}
